/* Carousel.css */
@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  overflow: hidden;
}

.logo-list {
  margin-left: 8rem; 
  animation: infinite-scroll 15s linear infinite;
}

.logo-list li {
  margin-right: 8px; /* Adjust the margin between logos as needed */
}
